.left-layout {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.right-layout {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rotating-heart {
  width: 100px;
  animation: rotate 2s infinite;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.additional-info .content,
.additional-info .ai-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}




.additional-info .right-layout > div {
  font-size: 24px;
}

.ai-form {
  width: 50%;
  border: 1px solid var(--primary);
  border-radius: 14px;
  padding: 30px;
  background-color: #ffffff;
}

.ai-form > input {
  height: 2vh;
  padding: 16px 24px;
  font-size: 16px;
  border: var(--primary) 1px solid;
  color: var(--primary);
}

.ai-form > div {
  font-size: 16px;
}

.ai-form > button {
  transition: all 0.3s;
}

.ai-form > button {
  background: var(--primary);
  color: white;
}

.ai-form > button:hover {
  background: white;
  color: var(--primary);
}