.cartoon-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  height: auto;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
}

.cartoon-header {
  position: absolute;
  top: 5%;
  left: 55px;
  /* 네브바 너비 + 간격 */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 3;
  /* gap: 5px; */
}

.hashtags {
  display: flex;
  gap: 12px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
}

.resbackground-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
  background-size: contain;
}

.home-icon-img {
  position: absolute !important;
  top: 50px !important;
  left: 10px !important;
  width: 40px !important;
  height: 40px !important;
  cursor: pointer;
}

.background-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
}

.board-box {
  width: fit-content;
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  gap: 30px;
}

.board-box-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-box-title h3 {
  margin: 0;
}

.input-overlay {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.input-overlay input::placeholder {
  color: var(--text-light);
}

.answer-input-title {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.answer-input {
  background: transparent;
  border: 1px solid var(--primary);
  padding: 10px;
  font-size: 16px;
  color: var(--primary);
  /* background-color: #ffffff; */
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

.page-btn {
  letter-spacing: 2px;
  background: var(--primary);
  color: #ffffff;
  cursor: pointer;
  outline: none;
  transition: transform 0.1s ease-in-out;
}

.page-btn:active {
  transform: scale(0.95); /* 클릭 시 살짝 작아짐 */
}

.page-btn:focus {
  outline: none;
}

.cartoon-flip-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-page.cartoon-page {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartoon-detail {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.empty-text {
  width: 100%;
  text-align: center;
  color: #666;
  font-size: 18px;
  padding: 24px;
}
