.left-arrow {
  position: absolute;
  top: 30px;
  left: 30px;
  background: var(--primary);
  z-index: 1;
  padding: 5px;
  border-radius: 14px;
  cursor: pointer;
}

.cartoonresult-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  position: relative;
  overflow: visible;
}

.result-box {
  width: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 15px;
}

.result-title {
  font-size: 20px;
  margin: 0;
}

.result-image {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}

.result-image-comic {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.save-btn {
  position: absolute;
  top: 60px;
  right: 30px;
  width: 15px;
  background: linear-gradient(90deg, var(--secondary), var(--primary));
  padding: 12px;
  border-radius: 12px;
}

.result-image-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.answer-input::placeholder {
  color: var(--text-light);
}
