.main-layout {
  background-color: var(--bg-primary);
  font-family: sans-serif;
}

.couple-container {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 500px;
  height: 720px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--primary);
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.code-label {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-light);
  margin: 10px;
}

.code {
  height: 48px;
  font-size: 32px;
  font-weight: 500;
  border-bottom: 2px solid var(--primary);
  margin: 10px;
}

.connection-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  position: relative;
}

.connection-container button {
  width: 300px;
  height: 48px;
  background-color: var(--primary);
  color: white;
}

.heart img {
  height: 150px;
  object-fit: contain;
}

.connection-container input {
  height: 24px;
  width: 252px;
  padding: 16px 24px;
  font-size: 20px;
  border: var(--primary) 1px solid;
  color: var(--primary);
}

input::placeholder {
  color: var(--primary);
}

input:focus {
  box-shadow: 0px 0px 10px 1px rgb(from var(--primary) r g b / 0.65);
  outline: none;
}

.error-message {
  color: crimson;
  position: absolute;
  bottom: -70px;
  width: max-content;
}
