.top-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  z-index: 1000;
}

.fixed-navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 50px;
  right: 50px;
  gap: 20px;
  z-index: 1000;
}

.fixed-navbar > img {
  cursor: pointer;
  border-radius: 14px;
  /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
}
