.logo-frame {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  z-index: 1000;
  margin: 10px 0;
}

.logo-image {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.logo-fixed {
  position: fixed;
  top: 50px;
  left: 80px;
  margin: 0;
}
