.event-calendar {
  width: 250px;
  text-align: center;
  align-items: center;
  border-radius: 0 0 14px 14px;
  box-shadow: 4px 4px 4px 0 rgba(115, 90, 225, 0.25);
  margin: 25px;
}

.event-calendar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.event-calendar li {
  font-size: 14px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.calendar-header {
  box-shadow: 4px 4px 4px 0 rgba(255, 255, 255, 0.25) inset,
    -4px -4px 4px 0 rgba(0, 0, 0, 0.1) inset;
  background: var(--primary);
  color: white;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  font-size: 16px;
}

.event-calendar ul {
  box-shadow: 4px 4px 4px 0 rgba(115, 90, 225, 0.25) inset,
    -4px -4px 4px 0 rgba(115, 90, 225, 0.1) inset;
  border-radius: 0 0 14px 14px;
  background: #ffffff;
  border: 2px solid var(--primary);
  list-style: none;
  padding: 10px 15px;
  margin: 0;
}

.event-calendar li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 13px;
}

.event-calendar li .title {
  display: inline-block;
  width: 120px;
  margin-left: 8px;
  white-space: nowrap; /* 줄 바꿈 방지 */
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}

.event-calendar li .dday {
  display: inline-block;
  width: 40px;
  color: var(--text-light);
  font-size: 12px;
}

.event-calendar li .dday.active {
  color: var(--primary);
  font-weight: 900;
}

.event-list {
  height: 32px;
  align-items: center;
}
