.mypage-container {
  width: 100%;
}

.mypage-container > div {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  gap: 50px;
}

.mypage-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.mypage-card-wrapper > h4 {
  margin: 0;
}

.mypage-card {
  height: 320px;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  background: white; /* 내부 내용 배경 */
  padding: 20px;
  box-shadow: 4px 4px 10px rgba(166, 110, 224, 0.25),
    4px 4px 10px rgba(166, 110, 224, 0.25) inset;
  border: 2px solid var(--primary);
  justify-content: space-between;
}

.mypage-card-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mypage-card-section {
  width: 300px;
  display: flex;
  gap: 20px;
}

.mypage-card-section-name {
  width: 90px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--text-dark);
}

.mypage-card-section-value {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 16px;
  color: var(--text-dark);
  font-weight: 600;
}

.profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid var(--primary);
  border-radius: 50%;
  background: linear-gradient(to right, var(--secondary), var(--primary));
}

.mypage-card-section-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.useredit-btn {
  height: fit-content;
  background: var(--bg-primary);
  color: var(--text-light);
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.mypage-card-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mypage-card-title {
  font-size: 20px;
  font-weight: 500;
}

.danger-btn-wrapper {
  height: 30px;
}

.danger-btn {
  width: fit-content;
  background: var(--bg-primary);
  color: var(--text-light);
  border: 1px solid var(--text-light);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}

.password-btn {
  justify-content: flex-end;
}

.password-input {
  width: 90%;
  border: 2px solid var(--primary);
  border-radius: 14px;
  padding: 10px;
  /* font-size: 16px; */
  color: var(--primary);
}

.password-input::placeholder {
  color: var(--text-light);
}

.mypage-card-section-password {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
