#root {
  width: 100%;
}

.onboaring-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: var(--bg-primary);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.onboarding-title,
.onboarding-info,
.onboarding-footer {
  scroll-snap-align: start;
}

.onboarding-title {
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  justify-content: center;
}

.onboarding-title p {
  color: var(--primary);
  white-space: normal;
  word-wrap: break-word;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0px;
}

.onboarding-title .onboarding-content {
  padding: 20px 0;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-light);
}

.onboarding-title .auth-btn {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.auth-btn img:first-of-type {
  border-radius: 14px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.auth-btn img {
  cursor: pointer;
}

.auth-btn .onboarding-title > div > img {
  cursor: pointer;
}

.onboarding-image {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 60%;
  z-index: 1;
}

.onboarding-info {
  display: flex;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background: var(--bg-primary);
}

.onboarding-info .lanyard {
  width: 40%;
  height: 100%;
}

.onboarding-info-text {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.onboarding-gallery {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: var(--bg-primary);
}

.onboarding-gallery-img-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.onboarding-gallery-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 12px;
  /* border: 2px solid var(--primary); */
  box-shadow: 0 0 10px 0 rgba(115, 90, 225, 0.5),
    0 0 4px 0 rgba(115, 90, 225, 0.5);
}

.onboarding-gallery-title-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 5px;
}

.onboarding-gallery-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary);
}

.onboarding-gallery-description {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-dark);
}

.onboarding-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  z-index: 2;
  background: var(--bg-primary);
}

.onboarding-footer .symbol {
  width: 100px;
  height: 100px;
}

.onboarding-footer .description {
  font-size: 1rem;
}

.onboarding-footer .start-btn {
  cursor: pointer;
}

@keyframes title-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
