.right-icons {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-icons button {
  background: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
}

.right-icons button:hover {
  background-color: var(--bg-primary);
  transform: translateY(-2px);
}

.right-icons img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.badge {
  position: absolute;
  top: -7px;
  right: -7px;
  width: 15px;
  height: 15px;
  padding: 3px;
  border-radius: 50%;
  background: #ff3b30;
  color: #ffffff;
  font-size: 10px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  box-shadow: 0 0 0 2px #fff;
}
