/* 사이드바 전체 컨테이너, 왼쪽 고정 영역으로 사용 */
.sidebar {
  width: 250px; /* 고정 너비 */
  height: 100vh; /* 전체 화면 높이랑 동일하게 설정 */
  background-color: var(--side-bar); /* 연보라? 배경색임 */
  box-sizing: border-box; /* 패딩이랑 보더를 width안에 포함 */
  padding: 30px 20px; /* 위 아래 30, 좌우 20 여벡 즘 */
  display: flex; /* 세로 정렬할라고 이거 함 */
  flex-direction: column; /* 위 -> 아래로 쌓이게 */
  justify-content: space-between; /* 상단 메뉴와 하단 버튼을 양 끝 정렬 */
  font-family: sans-serif; /* 전체 글꼴임 */
  flex-shrink: 0;
  box-shadow: 4px 0 8px 0 rgba(115, 90, 225, 0.2);
}

/* 사이드바 타이틀 영역 로고 + 텍스트임 */
.sidebar-title {
  display: flex; /* 텍스트와 로고를 가로로 배치 */
  align-items: center; /* 세로 중앙 정렬 */
  gap: 12px; /* 로고와 텍스트 사이 간격 */
  font-size: 20px; /* 텍스트 크기 */
  font-weight: bold; /* 텍스트 굵게 세미 볼드 없나..? */
  margin-bottom: 30px; /* 아래 메뉴와 간격 */
  text-align: left;
}

.sidebar-logo {
  width: 36px; /* 가로 크기 */
  height: 36px; /* 세로 크기 */
  object-fit: contain; /* 원본 비율 유지하면서 크기에 맞춤 */
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 30px 0;
}

.sidebar-nav-btn {
  color: var(--text-light);
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px 16px;
  text-align: left;
  border-radius: 20px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.sidebar-nav-btn:hover {
  font-weight: 500;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1),
    0px 0px 0px 2px var(--primary) inset;
  color: var(--primary);
}

.sidebar-nav-btn:hover .nav-icon {
  fill: var(--primary);
}

.sidebar-nav-btn.active {
  background: linear-gradient(90deg, var(--secondary), var(--primary));
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 8px 0 rgba(255, 255, 255, 0.3) inset;
  font-weight: 500;
}

.nav-icon {
  fill: var(--text-light);
}

.sidebar-nav-btn.active .nav-icon {
  fill: #ffffff;
}

.logout-btn {
  width: 100%;
  color: var(--text-light);
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px 16px;
  border-radius: 20px;
  transition: all 0.2s ease;
  cursor: pointer;
  background: var(--side-bar);
  border: 1px solid var(--text-light);
}

.logout-btn:hover {
  font-weight: 500;
  box-shadow: 0px 0px 0px 1px var(--text-light) inset;
  border: 1px solid var(--text-light);
}
