.curved-loop-jacket {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  background-color: var(--secondary);
  z-index: 999;
}

.curved-loop-svg {
  height: 100%;
  width: 100%;
  overflow: visible;
  font-size: 20px;
  font-weight: 700;
  fill: #ffffff;
  -moz-user-select: none;
  -webkit-user-select: none;
  transform: translateY(-15%);
}
