.scroll-float {
  overflow: hidden;
}

.scroll-float-text {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
  color: var(--primary);
}

.char {
  display: inline-block;
}
